APP_PORT=<app_port>
# Database

DB_HOST=<database_host>
DB_PORT=<database_port>
DB_NAME=<database_name>
DB_USER_NAME=<database_username>
DB_PASSWORD=<database_password>
#JWT_SECRET_TOKENS
JWT_SECRET_TOKEN=<jwt_secret_key>
KAHA_API_LINK=<kaha_main_api_link>